.navbarBrandCentered {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.ml-auto {
  margin-left: auto !important;
}

.playfair {
  font-family: "Playfair Display", serif;
}

.modi {
  font-family: "Ms Madi", cursive;
}

.monserrat {
  font-family: "Montserrat", sans-serif;
}

.selfie {
  background-image: url("/images/img.jpeg");
  background-size: cover;
  background-position: center;
  height: 300px;
  width: 300px;
  border-radius: 25px;
}

.centerRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timeline {
  display: flex;
  flex-direction: column;
}

.timelineItem {
  display: flex;
  margin-bottom: 30px;
}

.timelineItemDate {
  min-width: 120px;
  color: #888;
}

.timelineItemContent {
  padding-left: 20px;
}

.timelineItemTitle {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;
}

.timelineItemDescription {
  font-size: 14px;
}

/* Styles for Contact component */
.contactButton {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 50px;
  border-radius: 8px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease;
}

.contactIcon {
  font-size: 24px;
  margin-right: 10px;
}

.contactLabel {
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .selfie {
    height: 500px;
    width: 500px;
  }
}
